## Проект 1. Анализ данных

Используя синтаксис python произвести расчеты

### Задача
Написать функцию , которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [9]:
def fruits(**fruits):
    total=0
    for amount in fruits.values():
        total += amount
    return (f'Количество фруктов: {total} шт.')

fruits(ананас=7, груша=9, яблоко=7, киви=5)

'Количество фруктов: 28 шт.'

### Задача
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Используя list comprehensions удалить такие значения из списка и посчитать суммарные затраты [100, 125, -90, 345, 655, -1, 0, 200]

In [10]:
zatraty =  [100, 125, -90, 345, 655, -1, 0, 200]

In [11]:
ansver = [i if i > 0 else 0 for i in zatraty]
sum(ansver)

1425

### Задача
Даны два списка с данными о покупке и датами, какая выручка у компании в ноябре?

In [12]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09',
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
        '2021-10-26', '2021-12-09'] 
sum_for_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275,
                4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [13]:
sales = {}

In [14]:
for i in range (len(date)):
    sales[date[i]] = sum_for_date[i]
sales

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

In [15]:
# Выручка компании за ноябрь
dict_filter = {}
for k, v in sales.items():
    if k.split('-')[1] == '11':
        # добавляем в новый словарь
        dict_filter[k] = v
        total = sum(dict_filter.values())
total

15239